@font-face {
  font-family: MagmaWave;
  src: url("../../style/MagmawaveCaps-Bold.woff") format("woff"),
    url("../../style/MagmawaveCaps-Bold.ttf") format("truetype");
}

#team_magma_page.container {
  text-align: center;
  align-content: center;
}

#team_magma_page #header-one {
  font-family: MagmaWave;
  text-decoration: underline red;
}

h5 {
  font-style: italic;
}

hr {
  background-color: lightgray;
}

#team_magma_page .carousel {
  height: 300px;
  align-content: center;
}

#team_magma_page .carousel img {
  height: 300px;
}
