.navbar {
  margin-bottom: 10px;
  color: white;
  border-top: 2px solid red;
}

.navbar a,
.navbar .dropdown-item {
  color: white;
}

.navbar a:hover,
.navbar .dropdown-item:hover {
  cursor: pointer;
  color: white;
}

.navbar .open {
  text-align: right;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navbar .navbar-nav {
  font-size: 1.2em;
  font-weight: 400;
}

.navbar .dropdown-menu {
  text-align: right;
  background-color: #292929;
}

.navbar .dropdown-item:hover {
  background-color: red;
}

@media only screen and (max-width: 375px) {
  .navbar .navbar-brand {
    font-size: 1em;
  }
  .navbar .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse ul {
    padding-top: 10px;
    float: right;
    text-align: right;
  }
  .navbar .nav {
    display: inline-block;
  }
}

/***************************************/

.footer-item {
  text-decoration: none;
  color: white;
}

.footer-item:hover {
  color: red;
}

/***************************************/

.sidebar {
  padding-right: 0;
}

.sidebar-wrapper-row {
  margin: 0;
}

.sidebar .sidebar-nav {
  margin: 0.5em 0;
  padding: 0;
}

.sidebar-nav .sidebar-item {
  width: 100%;
  padding: 5px 1em;
  list-style: none;
  background-color: transparent;
}

.sidebar-nav .sidebar-item:hover,
.sidebar-nav .sidebar-item:active {
  background-color: #550002;
}

.sidebar-item a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: white;
}
