@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");

html,
body,
#app {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

#notifications {
  z-index: 99;
  margin: 1em auto;
  top: 4em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2%;
  position: fixed;
  pointer-events: none;
}

#notifications * {
  pointer-events: all;
  z-index: 9999999;
}

#app {
  min-height: 100vh;
  padding: 0;
  color: white;
  background-color: #292929;
}

div {
  font-family: "PT Serif", serif;
}

a.header-link {
  text-decoration: none;
  color: white;
}

a.header-link:hover {
  color: white;
}

.card {
  background-color: #292929;
}

form .form-control {
  color: white;
  background-color: transparent;
}

.modal-dialog,
.modal-dialog * {
  color: white;
  background-color: #292929;
}

.modal-content {
  border: none !important;
  border-radius: 10px !important;
}

.modal-header {
  border-radius: 0;
}
